In [1]:
#import libraries
#!pip install kaggle

In [1]:
import kaggle

In [28]:
#download dataset using kaggle api
#!kaggle datasets download user / retail-orders -f orders.csv

In [3]:
#extract file from zip file
#import zipfile
#zip_ref = zipfile.ZipFile('orders.csv.zip')
#zip_ref.extractall() #extract file to dir
#zip_ref.close() # close file

In [1]:
#read data form the file and handle null values
#!pip install pandas
import pandas as pd
#df = pd.read_csv('orders.csv')#, na_values=['Not Available', 'unknown'])
#df.head(6)
#df['Ship Mode'].unique()

In [2]:
# rename columns names ..make them lower case and replace
#df.rename(columns={'Order Id':'order_id', 'City':'city'})
#or
#df.columns=df.columns.str.lower()
#df.columns=df.columns.str.replace(' ','_')
#df.head(5)

In [3]:
#derive new columns discount, sall price and profit
#df['discount']=df['list_price']*df['discount_percent']*.01
#df['sale_price']= df['list_price']-df['discount']
#df['profit']= df['sale_price']-df['cost_price']
#df.head(6)

In [4]:
#convert order date from object data type to datetime
#df.dtypes
#import pandas as pd
#df['order_date']=pd.to_datetime(df['order_date'],format="%Y-%m-%d")

In [5]:
#drop cost price list price and discount percent columns
#df.drop(columns=['list_price', 'cost_price', 'discount_percent'],inplace=True)
#df.head(5)

In [7]:
#Load the data into sql server using replace option
#!pip install sqlalchemy
#!pip install pyodbc
#import sqlalchemy as sal
#import pyodbc
#engine = sal.create_engine('mssql+pyodbc://DESKTOP-2CA9QD4\\SQLEXPRESS/master?driver=ODBC+Driver+17+for+SQL+Server&Trusted_Connection=yes')
#conn=engine.connect()

In [8]:
#load the data into sql server using append option
#df.to_sql('df_orders', con=conn , index=False, if_exists = 'replace')
#or use it after created headers in SQL server prior for proper datatype - length
#df.to_sql('df_orders', con=conn , index=False, if_exists = 'append')

38

In [27]:
#df.dtypes

In [ ]:
#Now data forwarded to SQL server.